<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<server description="system service">

    <featureManager>
        <feature>grpc-1.0</feature>
        <feature>grpcClient-1.0</feature>
        <feature>cdi-4.0</feature>
        <feature>persistenceContainer-3.1</feature>
        <feature>bells-1.0</feature>
        <feature>managedBeans-2.0</feature>
        <feature>beanValidation-3.0</feature>
    </featureManager>

    <grpcClient host="*"/>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9081"/>

    <applicationManager autoExpand="true"/>

    <logging consoleLogLevel="INFO"/>

    <library id="jdbcLib">
        <fileset dir="jdbc" includes="*.jar"/>
    </library>

    <library id="HibernateLib">
        <fileset dir="hibernate" includes="*.jar"/>
    </library>

    <bell libraryRef="HibernateLib"/>

    <application location="services_management_service-1.0-SNAPSHOT.war">
        <classloader commonLibraryRef="HibernateLib"/>
    </application>

    <dataSource jndiName="jdbc/datasources/ServicesManagementDS">
        <jdbcDriver libraryRef="jdbcLib"/>
        <properties serverName="localhost" portNumber="3311"
                    databaseName="ServicesManagement"
                    user="smuser"
                    password="admin"/>
    </dataSource>
</server>